[Desktop Entry]
Name=CPU Limit
GenericName=CPU Limit
Comment=CPU Limit Frequency
Icon=/usr/share/icons/Adwaita/256x256/legacy/system-run.png
Exec=cpu-limit
Terminal=false
Type=Application
Categories=Utility;Settings;DesktopSettings;
